@page "{conversationid?}"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ChatModel
@{
    ViewData["Title"] = "Chat";
}

<div class="text-center">
    <h1 class="display-4">Chat</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <ul>
        @foreach (var item in Model.Conversations)
        {
            <li>
                <a class="nav-link text-dark" asp-area="" asp-page="/Chat" asp-route-conversationid="@item">@item</a>
            </li>
        }
    </ul>
</div>
<div class="row">
    @foreach (var cl in Model.Chat)
    {
        <p>@cl.Message</p>
    }
    <form asp-page-handler="chat" method="post">
        <button class="btn btn-primary">Send</button>
        <input type="text" name="message" value="hoge" />
    </form>
</div>